<div>
    <form [formGroup]="editarUsuario"  class="row g-3 needs-validation" >
        <div class="col-md-4">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="first_name">
        </div>

        <div class="col-md-4">
            <label class="form-label">Nombre de ususario</label>
            <input type="text" class="form-control" formControlName="username">
        </div>

        <div class="col-md-4">
            <label class="form-label">email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>

        <div class="col-md-4">
            <label class="form-label">contraseña</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="col-md-4">
            <label class="form-label">Imagen</label>
            <input type="file" class="form-control" (change)="onFile($event)">
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit" (click)="onSubmit()">Actualizar</button>
        </div>
    </form>
</div>