<!-- <app-user></app-user> -->
<nav class="navbar navbar-expand-lg bg-warning ">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="assets\imagenes\logo.png" style="width: 70px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/verproductos']" aria-current="page">Home</a>
                </li>
            </ul>
            <form class="d-flex" role="search" (ngSubmit)="filtro()">
                <input class="form-control me-2" type="text" placeholder="Nombre" aria-label="Nombre"
                    [(ngModel)]="filtros.nombre" name="nombre">
                <input class="form-control me-2" type="number" placeholder="Precio" aria-label="Precio"
                    [(ngModel)]="filtros.precio" name="precio">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
            <form class="d-flex" role="search">
                <button type="button" class="btn-close" [routerLink]="['/']"></button>
            </form>
        </div>
    </div>
</nav>
<app-profile></app-profile>
<br>
<div class="container">
    <div class="row">
        <br><br>
        <div *ngFor="let item of productos" class="col-md-4 mb-4 d-flex justify-content-center">
            <br>
            <div class="card" style="width: 100%; max-width: 300px;">
                <img [src]="imagenUrl(item)" class="card-img-top" alt="{{ item.nombre }}"
                    style="object-fit: cover; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.nombre }}</h5>
                    <p class="card-text">El producto contiene {{ item.descripcion }}.</p>
                    <p class="card-text">Por un precio de ${{ item.precio }}</p>
                    <button (click)="addCar(item)" class="btn btn-warning">añadir al carrito <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg></button>
                </div>
            </div>
        </div>

    </div>
    <app-detalle></app-detalle>
</div>